# Automatically activate the virtual environment if it exists
if [ -f venv/bin/activate ]; then
  source venv/bin/activate
fi

# Use pyenv if available
if command -v pyenv >/dev/null 2>&1; then
  eval "$(pyenv init -)"
  # Check if pyenv-virtualenv is installed
  if pyenv commands | grep -q virtualenv-init; then
    eval "$(pyenv virtualenv-init -)"
  fi
fi
